input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

.cart-sum {
    color: white;
}

.paymentButton {
    width: 80px;
    background-color: lightgray !important;
}

.slick-slider {
    margin-bottom: 100px;
    width: 50%;
    margin-left: 20%;
}

.slick-prev:before, .slick-next:before {
    color: black !important;
}

#map { 
    height: 180px; 
    margin: 10%;
}
