.cartItem {
  display: flex; /* esemed on vasakult paremale */
  justify-content: space-around; /* kõik võrdsele kaugusele */
  border-bottom: 1px solid lightgray;
  /* margin-bottom: 0;
  margin-left: 10%; --- % px vh/vw */
  /* margin: 0 10% 0 10%; */   
  margin: 0 10%;
  padding: 10px 0;
}

.cartItemName {
  width: 300px;
}

.cartItemPrice {
  width: 70px;
}

.cartItemQuantity {
  /* width: 50px; */
  margin: 0 6px;
}

.cartItemTotal {
  width: 70px;
  font-weight: 600;
}

.cartItemButton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.5s;
}

.cartItemButton:hover {
  opacity: 1.0;
  transition: 0.5s;
}

.cartItemQuantityControls {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.cartSum {
  text-align: right;
  font-weight: bold;
  margin-right: 10%;
}

.cartSum button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
}

.cartSum button:hover {
  font-weight: bold;
}

.paymentButton {
  width: 80px;
  background-color: lightgray !important;
}

.buttonDisabled {
  width: 20px;
  height: 20px;
  opacity: 0.4;
}